.bg-white{
  background-color:var(--color-bg-2);
}






.border-round-1{
  border-radius: 10px;
  overflow: hidden;
}
.border-t-1{
  border-top: 1px solid #eee;
}
.border-b-1{
  border-bottom: 1px solid #eee;
}
.border-r-1{
  border-right: 1px solid #eee;
}

.shaw-1{
  box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, .06);
}


.p-5{
  padding: 5px;
}
.p-10{
  padding: 10px;
}
.p-15{
  padding: 15px;
}
.p-20{
  padding: 20px;
}
.pt-15{
  padding-top: 15px;
}

.mt-10{
  margin-top: 10px;
}

.mt-15{
  margin-top: 15px;
}

.mt-20{
  margin-top: 20px;
}

.position{
  position: absolute;
}

.right{
  float: right;
}
.left{
  float: left;
}

.color-1{
  color: rgb(var(--primary-6));
}

//for PC
@media (min-width: 1024px) {

}

//for IPad
@media (max-width: 768px) {

}



