
.shaw-1{
  box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, .06);
}

.cart-item {
  .arco-input-wrapper {
    background-color: #FFFFFF !important;
    border: none !important;

    input {
      text-align: center;
    }
  }

  .arco-input-append {
    :hover {
      background-color: rgb(var(--primary-6)) !important;
    }

    :active {
      background-color: rgb(var(--primary-6)) !important;
    }

    button {
      background-color: rgb(var(--primary-6)) !important;

      .arco-btn-icon {
        color: #FFFFFF !important;
      }
    }
  }
  .arco-input-prepend, .arco-input-append {
    border-radius: 14px !important;
    button {
      border-radius: 14px !important;
      .arco-btn-icon {
        font-size: 13px !important;
      }
    }
  }
}




